{
  "rules": {
    "quotes": 0,
    "no-use-before-define": 0,
    "strict": 0,
    "no-comma-dangle": 0,
    "no-unused-vars": 1,
    "no-console": 0,
    "curly": 0,
    "new-cap": 0,
    "space-infix-ops": 0
  }
}
